#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  background-color: lightblue;
}
.card {
  padding: 1em;
}
.lang-switch {
background-color: lightpink;
text-align: right;
}
.content {
background-color: aquamarine;
}
.state {
background-color: darksalmon;
}